.movie {
    background-color: rgb(255, 232, 20);
    text-align: center;
    flex: 0 calc(50% - 12px);
    border-radius: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 16px;
    text-align: center;
}

.movieTitle {
    font-size: 2rem;
}

@media screen and (max-width: 768px) {
    .movie {
        flex: 1 0 100%
    }
}